.links {
    margin-top: 20px;
    margin-left: 1700px;
}

.link {
    margin-left: 10px;
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-family: Calibri;
}

.link:hover {
    text-decoration: underline;
    color: gray;
}

#search {
    margin-left: 680px;
    margin-top: 90px;
}

#images {
    margin-left: 680px;
    margin-top: 180px;
}

#logo-srch {
    width: 500px;
    margin-left: 30px;
}

#logo-img {
    width: 260px;
    height: 90px;
    margin-left: 150px;
}

#navbar-srch {
    width: 530px;
    height: 40px;
    font-size: 15px;
    border-color: gainsboro;
    border-radius: 30px;
    border-width: 0.1px;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: -10px;
}

#navbar-img {
    width: 530px;
    height: 35px;
    font-size: 15px;
    border-color: gainsboro;
    border-radius: 30px;
    border-width: 0.1px;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#navbar-srch:hover {
    border-color: black;
}

#btns-srch {
    margin-left: 130px;
}

#btns-img {
    margin-left: 200px;
}

.btn-srch-img {
    width: 125px;
    height: 32.5px;
    font-size: 14px;
    background-color: rgb(245, 245, 245);
    border-color: gainsboro;
    border-width: 0px;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-srch-img:hover {
    border-width: 0.1px;
} 